fastapi
uvicorn
pydantic
yfinance
beautifulsoup4
lxml
requests
langchain
langchain-groq
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-core
langgraph
chromadb
sentence-transformers
python-dotenv
mlflow
dagshub